<h1>Customer#updateCustomer_get</h1>
<form method="post">
  <p>Name:<input type="text", name="customer_name" value="<%=@customer.customer_name %>" required></p>
  <p>Address:<input type="text", name="address" value="<%=@customer.address %>" ></p>
  <p>Credit:<input type="text", name="credit_card_info" value="<%=@customer.credit_card_info %>" ></p>
  <input type="submit" value="update">
</form>